<div>
  <p>Wikinimous</p>
  <p>New Article</p>
</div>


<ul>
   <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
    <p><%= article.content[..30] %>[more...]</p>
  <% end %>
</ul>